.gallery {
    display: flex;
    flex-direction: column;
    color: green;
    background-color: yellow;
}

.profile-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}