.App {
  text-align: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c56ea;
  min-height: 1vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #55a3b9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.can {
  border: 1px solid black;
}

.abbr {
  display: flex;
  justify-content: center;
}


.section {
  border: 100px;
}
.mc {
  color: rgb(237, 247, 249);
  background-color: rgb(14, 81, 24);
  display: flex;
  justify-content: center;
}
.gallery {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 100%;
  padding: 5px;
  border: 1px solid rgb(191, 43, 43);
  width: 150px;
  height: 150px;
}